.DS_Store
.kitchen/
.kitchen.local.yml
.bundle
.vagrant
berks-cookbooks/
Berksfile.lock
clients/
cookbooks/
Gemfile.lock
nodes/
vms/
.chef/nodienode.pem
.chef/validator.pem
.chef/local-mode-cache/
.project
